html, body {
    background-color: #000 !important;
    color: #f0f0f0;
    font-family: "Inter", Arial, sans-serif;
}

#Main_title {
    font-size: 32px;
    color: #f86306;
}

#small_title {
    font-size: 18px;
    color: #dce0e4;
}

.container, .row, .col, .carousel-item {
    background-color: #000 ;
}


.carousel-item img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.form-control {
    background-color: #111 !important;
    color: #fff !important;
    border: 1px solid #dcd524 !important;
}


.btn-warning {
    color: #000;
}


p, small {
    color: #f0f0f0;
}


.form-control:focus {
    border-color: #ebbd08 !important;   
    box-shadow: 0 0 0 0.15rem rgba(249, 205, 32, 0.4) !important;
    outline: none !important;
}
#command{
    font-size: 18px;
}


 